<head>
  <title>Figure 6.10</title>
  <meta charset="utf-8">
  <meta content="Principles of Computer Architecture" name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://github.com/FdelMazo/" rel="author"/>
  <link href="https://fdelmazo.github.io/figure-610/" rel="canonical"/>

  <meta content="https://fdelmazo.github.io/figure-610/" property="og:url">
  <meta content="Principles of Computer Architecture" property="og:description">
  <meta content="figure-610" property="og:title">
   
  <!-- Styles -->
  <link rel="stylesheet" href="{{- 'assets/css/main.css' | relative_url -}}" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" defer></script>
  <script src="{{- 'assets/js/jquery.scrolly.min.js' | relative_url -}}" defer></script>
  <script src="{{- 'assets/js/jquery.scrollzer.min.js' | relative_url -}}" defer></script>
  <script src="{{- 'assets/js/skel.min.js' | relative_url -}}" defer></script>
  <script src="{{- 'assets/js/util.js' | relative_url -}}" defer></script>
  <script src="{{- 'assets/js/prologue.js' | relative_url -}}" defer></script>

  <script src="{{- 'assets/js/jquery.imagemapster.min.js' | relative_url -}}" defer></script>
  <script src="{{- 'assets/js/figures.js' | relative_url -}}" defer></script>
  <script src="{{- 'assets/js/main.js' | relative_url -}}" defer></script>

</head>